body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: rgb(243, 237, 223);
  color: #412e17;
}

.my_container{
  max-width: 1700px;
  margin: 0 auto;
  background-color: red;
}

h1{
  font-size: 65px;
  font-family: "Lobster", sans-serif;
}

h1 span{
}